.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/solution/
**/tests/
steps
Dockerfile
docker-compose.yml
docker-compose.yaml
*.zip
*.tar
*.tar.gz
/out
/build
