Dockerfile
docker-compose.yml
docker-compose.yaml
.git
.gitignore
tests
solution
steps
*.zip
*.tar
*.tar.gz
__pycache__
**/__pycache__/
*.pyc
**/*.pyc
.pytest_cache
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
/out
/build
