Dockerfile
docker-compose.yml
docker-compose.yaml
.git
.gitignore
tests
solution
steps
**/tests/
**/solution/
*.zip
*.tar
*.tar.gz
__pycache__
*.pyc
.pytest_cache
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
/out
/build
